<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPAT</title>
</head>
<body>
<div style="text-align: center;"><h1>People & Places Automate Translator</h1></div>
<fieldset><legend>Source languages</legend>{% for lang_code in lang_codes.keys() %}
    <label>{{ lang_codes[lang_code] }}<input type="checkbox" id="{{ lang_code }}" name="{{ lang_code }}" checked></label><br>
{% endfor %}
</fieldset>
<fieldset><legend>Source name</legend>
    <label for="keyword">Keyword<input type="text" id="keyword" name="keyword" onkeyup="this.value=this.value.replace(/\s+/g,'')"></label>
    <button type="button" onclick="submitd()" id="submit_button">Search</button>
</fieldset>
<fieldset><legend>Results</legend>
<table border="1">
    <caption>From Indexes</caption>
    <thead>
    <tr>
        <th>Keyword</th>
        <th>Language</th>
        <th>Category</th>
        <th>Chinese</th>
    </tr>
    </thead>
    <tbody id="index_result"></tbody>
</table>
<table border="1">
    <caption>From Rules</caption>
    <thead>
    <tr>
        <th>Keyword</th>
        <th>Language</th>
        <th>Category</th>
        <th>Chinese</th>
    </tr>
    </thead>
    <tbody id="rule_result"></tbody>
</table>
</fieldset>
<fieldset><legend>About</legend>
    <p>This is a demo for the <a href="https://github.com/EnderQIU/ppat">PPAT Project</a>,
    which is used for translating names of people and places following some certain rules.</p>
</fieldset>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    function submitd() {
        var lang_codes = [];
        $('input:checkbox').each(function() {
            if ($(this).attr('checked')) {
                lang_codes.push($(this).attr('name'));
            }
        });
        $("#submit_button").attr('disabled', true);
        $.ajax({
            url: '/api/translate',
            method: 'POST',
            timeout : 10000,
            data: JSON.stringify({                  
                keyword: $('#keyword').val(),
                lang_codes: lang_codes.join(',')
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#submit_button").attr('disabled', false);
                data = JSON.parse(data);
                var index_result = data.index.transliterations;
                var rule_result = data.rule.transliterations;
                var index_table_str = "";
                var rule_table_str = "";
                if(rule_result === undefined) $("#index_result").html("NO RULE MATCHED");
                for(var i=0;i<index_result.length;i++){
                    index_table_str += "<tr>";
                    index_table_str += "<td>" + index_result[i].keyword + "</td>";
                    index_table_str += "<td>" + index_result[i].language + "</td>";
                    index_table_str += "<td>" + index_result[i].category + "</td>";
                    index_table_str += "<td>" + index_result[i].chinese + "</td>";
                    index_table_str += "</tr>";
                }
                $("#index_result").html(index_table_str);
                if(rule_result === undefined) $("#rule_result").html("NO RULE MATCHED");
                for(i=0;i<rule_result.length;i++){
                    rule_table_str += "<tr>";
                    rule_table_str += "<td>" + rule_result[i].keyword + "</td>";
                    rule_table_str += "<td>" + rule_result[i].language + "</td>";
                    rule_table_str += "<td>" + rule_result[i].category + "</td>";
                    rule_table_str += "<td>" + rule_result[i].chinese + "</td>";
                    rule_table_str += "</tr>";
                }
                $("#rule_result").html(rule_table_str);
            },
            complete : function(XMLHttpRequest,status){
                $("#submit_button").attr('disabled', false);
　　　　         if(status === 'timeout' || status === 'error') {
                    ajaxTimeoutTest.abort();
                    alert(status + ' NO RULE MATCHED');
                }
            }
        });
    }
</script>
</body>
<footer style="text-align: center">2019@<a href="https://github.com/EnderQIU">EnderQIU</a></footer>
</html>
